{
  "redirects": [
    {
      "source": "/:path*",
      "has": [{ "type": "host", "value": "sereneheightsgroup.com" }],
      "destination": "https://www.sereneheightsgroup.com/:path*",
      "permanent": true
    }
  ],
  "rewrites": [
    {
      "source": "/nathiagali",
      "destination": "https://www.sereneheightsnathiagali.com/nathiagali"
    },
    {
      "source": "/nathiagali/:path*",
      "destination": "https://www.sereneheightsnathiagali.com/nathiagali/:path*"
    }
  ]
}
